{% extends "agen/base.html" %}

{% block title %}Meu agen 🐍{% endblock %}

{% block content %}
    {% for post in post_list %}
        <article>
            <h2>
                <a ></a>{{post.title }}
                    
                </a>
            </h2>
            
                <p class="data">
                 Disponivel para agendamento 
                </p>
             
                    {{ post.body|linebreaks|truncatewords:10 }}

                
               
                <table border="1">
                    <tr>
                        <td> Agendamento dia 18 de janeiro</td>
                        <td> Agendamento dia 19 de janeiro</td>
                        <td> Agendamento dia 20 de janeiro</td>
                        <td> Agendamento dia 21 de janeiro</td>
                        <td> Agendamento dia 22 de janeiro</td>
                    </tr>
                
                    <tr>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfdxsEbL1W44kCvKeZ54CF0g_KhRmDeKv5VBfzca4yHF8ikmA/viewform?usp=sf_link "> 07h às 08h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSeKtZjnFgWY1WVODAtq8NBIxVFmJH6R9988Q7JCHesRmn3i9A/viewform?usp=sf_link "> 07h às 08h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSff-W-XHtHZKez-0zsMVQW_Rc5VQEN_lFJmPwtJMiOEEeYxiQ/viewform?usp=sf_link "> 07h às 08h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSeCUJb_-tX6szVdWVVTpglTfekkFJ5GIQHIc-uuwm0M_oCdWQ/viewform?usp=sf_link "> 07h às 08h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfio-eUjBnSzvq-IhszplttEY7_8n9bwtIENl3zYF2Wl8ridw/viewform?usp=sf_link "> 07h às 08h</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSdaK4vJfnguoDqW1qDD_TH3TWGXf6GYaFh4dWRo-WjZVgoDzA/viewform?usp=sf_link "> 08h às 09h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSdGzRpms5xwlrhWyqFffO_rANrE46vp3M00sBAJKy0iY62BIQ/viewform?usp=sf_link "> 08h às 09h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScdTtXXqVWlmfw475p5ZP7X4xj_J7wLzkHFHISboMAc5L8LQA/viewform?usp=sf_link "> 08h às 09h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSf-64kMxyL5RlPoLQKz6A5tN9KSIOtWmiVN5jDw9rGRxr-3oQ/viewform?usp=sf_link "> 08h às 09h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScIjq1rl_NIlkdQ5iEeQZKpngRrtA8hRMeQR3I9zd1bVor4NQ/viewform?usp=sf_link "> 08h às 09h</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSeu5S31TsX_sAK5fU0XWkTXAuJnNCwlRKxG5hCvoXtWoqkxwg/viewform?usp=sf_link "> 09h às 10h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScXDASBhHculMwF1b1ieCkG71u2S-fdoYHHPhbOxtrXhSQv2A/viewform?usp=sf_link "> 09h às 10h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfJJBd0WJ6zovBzXsqfTal3tKnocn5R756Cl_kUDZ1npWk2sw/viewform?usp=sf_link "> 09h às 10h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSemGa1awbLFvNuNoig_jKmL_cQbneJHDYu8f3qIirVWR6NLMA/viewform?usp=sf_link "> 09h às 10h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfy9Fe9B55VrsjTQ9Gt6zw-mInQBkKFkp8MhjAcQaQR8S-lwA/viewform?usp=sf_link "> 09h às 10h</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfJ7F-wBA7xNPI-1HMeHVsVOlku8w1SYQoIrvlRoxRDE1m-Sw/viewform?usp=sf_link "> 16h às 17h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfBVwQn_EvijT8oqtytmvNqT-SoNdVGPTzo6qsMX5bXzWWC3A/viewform?usp=sf_link "> 16h às 17h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScpENvNJKwVTX5k5QXTBhuy9uG_08nhRdrp9BIgKcc3cKwOjQ/viewform?usp=sf_link "> 16h às 17h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScwP5awkEt0Q-7ukNR5nNf9adw3EkQssteykj2vBA8VjlGomA/viewform?usp=sf_link "> 16h às 17h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSdEBWGRTvHAKC6pBjL6oKsKW_71GEvxCZzfmvGIIBF7onnCsQ/viewform?usp=sf_link "> 16h às 17h</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfkOorUqzl-RUVnfDY1lwkpNp-VJAJW9BxvI6eCGge8nnyg0Q/viewform?usp=sf_link "> 17h às 18h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSf9rE2-_dNwp9djWdQKZy_qGZHLgfTs5IjI6cP99j8G4U2d0A/viewform?usp=sf_link "> 17h às 18h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSetG8PNsHfiaF2GpCuPbe6SUdAaDvjSTh9uggXrWfMFzHtfEg/viewform?usp=sf_link "> 17h às 18h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSenEVkWeyN_m7BPKy9sL_V-lOoT4h8d4HPLCEf1g_LA1y5yFw/viewform?usp=sf_link "> 17h às 18h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSdYyURPLbCwyjrV3IYJ9t8Ajvzz-2bMf-ioAqZg2WdbGmYLCA/viewform?usp=sf_link "> 17h às 18h</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSe4vNBn1nTsJeKMjQZX2Y4sUfGcyY7pVvS3waw6jXnkzh1Q1A/viewform?usp=sf_link "> 18h às 19h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSeSdzC-jVIkxix08_yNN-0WmD3RRlAIIzYCGqz4D8oRjE07IA/viewform?usp=sf_link "> 18h às 19h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSdcaK3lDfVMOz5yh6HNU5DshaGi7QHBJpcscaXMAUppEeYDNw/viewform?usp=sf_link "> 18h às 19h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSc0jv1sX9yZzs-CX3YxcbOwvNF80Jx7rbVF9DHB1OB4dY8D0w/viewform?usp=sf_link "> 18h às 19h</a></td>
                        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSep--Q1fRQq5FlZoZj2dr1FSwORxnOdL6Ltbfe5EMt01zZNCg/viewform?usp=sf_link "> 18h às 19h</a></td>
                    </tr>

                </table>
                
             </article>
    {% endfor %}
{% endblock %}